
<div class="container">
  <div class="row" style="padding-left: 120px; padding-right: 120px">
    <%= render partial: 'sidebar' %>
  <div class="col-md-9">
    <%= render partial: 'topnav' %>
    <h4 style="font-size: 1em">Pinned Repositories <small><span class="pinned-repo-link"><a href="/">Customize your Pinned Repositories</a></span></small></h4>

    <div class="row">
      <% @repos[0..1].each do |repo| %>
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-body">
            <svg aria-hidden="true" class="octicon octicon-grabber" height="12" version="1.1" viewBox="0 0 8 16" width="6"><path fill-rule="evenodd" d="M8 4v1H0V4h8zM0 8h8V7H0v1zm0 3h8v-1H0v1z"></path></svg>
            <%= link_to repo.name, repo.url %>
            <p style="font-size: .7em"><%= repo.description %></p>
            <p><% if repo.language == "Ruby" %>
              <span style="color: #680b28; font-size: 1.5em">•</span>
            <% elsif repo.language == "HTML" %>
              <span style="color: #f21202; font-size: 1.5em">•</span>
            <% end %>
            <%= repo.language %></p>
          </div>
        </div>
      </div>
      <% end %>
    </div>
      <div class="row">
        <% @repos[2..3].each do |repo| %>
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-body">
              <svg aria-hidden="true" class="octicon octicon-grabber" height="12" version="1.1" viewBox="0 0 8 16" width="6"><path fill-rule="evenodd" d="M8 4v1H0V4h8zM0 8h8V7H0v1zm0 3h8v-1H0v1z"></path></svg>
              <%= link_to repo.name, repo.url %>
              <p style="font-size: .7em"><%= repo.description %></p>
              <p><% if repo.language == "Ruby" %>
                <span style="color: #680b28; font-size: 1.5em">•</span>
              <% elsif repo.language == "HTML" %>
                <span style="color: #f21202; font-size: 1.5em">•</span>
              <% end %>
              <%= repo.language %></p>
            </div>
          </div>
        </div>
        <% end %>
      </div>
      <div class="row">
        <% @repos[4..5].each do |repo| %>
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-body">
              <svg aria-hidden="true" class="octicon octicon-grabber" height="12" version="1.1" viewBox="0 0 8 16" width="6"><path fill-rule="evenodd" d="M8 4v1H0V4h8zM0 8h8V7H0v1zm0 3h8v-1H0v1z"></path></svg>
              <%= link_to repo.name, repo.url %>
              <p style="font-size: .7em"><%= repo.description %></p>
              <p><% if repo.language == "Ruby" %>
                <span style="color: #680b28; font-size: 1.5em">•</span>
              <% elsif repo.language == "HTML" %>
                <span style="color: #f21202; font-size: 1.5em">•</span>
              <% end %>
              <%= repo.language %></p>
            </div>
          </div>
        </div>
        <% end %>
      </div>
      <div class="row" style="padding-top: 30px;">
        <p>Contribution Activity</p>
        <hr>
        <% @feed.each do |item| %>
          <p><%= item.actor %>
          <% if item.event_type == "PushEvent" %>
            pushed to
            <% elsif item.event_type == "CreateEvent" %>
            created
            <% elsif item.event_type == "PullRequestEvent" %>
            created a pull request in
            <% elsif item.event_type == "DeleteEvent" %>
            made a deletion from
            <% end %>
          <%= link_to item.repo, "https://github.com/#{item.repo}" %></p>
          <%= time_ago_in_words(item.time) %> ago
          <hr>
          <% end %>
      </div>
    </div>
  </div>
</div>
