<div class="container">
  <div class="row" style="padding-left: 120px; padding-right: 120px">
    <%= render partial: '/dashboard/sidebar' %>
  <div class="col-md-9">
    <%= render partial: '/dashboard/topnav' %>
<% @followers.each do |follower| %>
<%= image_tag(follower.avatar, size: 75) %>
<h4><%= follower.name %><small><%= follower.username %></small></h4>
<%= follower.location %>
<hr>
<% end %>
</div>
</div>
</div>
