<div class="container">
  <div class="row" style="padding-left: 120px; padding-right: 10px">
<%= render partial: 'dashboard/sidebar' %>
<div class="col-md-9">
  <%= render partial: 'dashboard/topnav' %>
<div class="row" style="padding-left: 30px">
  <form class="form-inline">
  <div class="form-group">
    <input type="text" class="form-control repo-search-bar" id="exampleInputName2" placeholder="Search starred repositories...">
    <div class="btn-group">
      <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Language: <b>All languages</b> <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li style="padding-left: 10px;">Select language:</li>
        <li role="separator" class="divider"></li>
        <li><a href="#">All languages</a></li>
        <% @starred.each do |star| %>
          <li><a href="#"><%= star.language %></a></li>
        <% end %>
      </ul>
    </div>
    <div class="btn-group">
  <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Sort: <b>Recently Starred</b> <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li style="padding-left: 10px;">Sort options</li>
    <li role="separator" class="divider"></li>
    <li><a href="#">Recently Starred</a></li>
    <li><a href="#">Recently Active</a></li>
    <li><a href="#">Most Stars</a></li>
  </ul>
</div>
    <a class="btn btn-success btn-sm" href="#" role="button">New</a>
  </div>
</form>

<hr>
  <% @starred.each do |repo| %>
  <div class="row" style="padding-left: 15px">
  <h4><%= link_to repo.name, repo.url %>
  <br><br>
  <% if repo.language == "Ruby" %>
    <span style="color: #680b28; font-size: 1.5em">•</span>
  <% elsif repo.language == "HTML" %>
    <span style="color: #f21202; font-size: 1.5em">•</span>
  <% end %>
  <small><p><%= repo.description %></p>
    <span style="font-size: 11px"><p><%= repo.language %>
      <span style="padding-left: 20px">Updated <%= time_ago_in_words(repo.updated) %> ago</span></p></span></small></h4>
</div><hr>
    <% end %>
</div>
</div>
